*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    max-width: 1024px;
    padding: 1rem;
    margin: auto;
}

img{
    max-width: 100%;
    display: block;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 1rem;

    position: fixed;
    background-color: white;
    width: 100vw;
    left: 0;
    top: 0;
}

.menu{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.box{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    min-width: 800px;
}

@media (min-width: 800px) {
    .box{
        flex-direction: row-reverse;
        align-items: center;
    }

    /*
    .box__image{
        order: 2;
    }

    .box__text{
        order: 1;
    }
*/


}
